/* default css */

* {
  color: aliceblue;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.5;
}

body {
  background-color: black;
}

header {
  max-width: 550px;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: 0 auto 5vh auto;
  display: block;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-position: 0% 4.5%;
}

main {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 2em;
  text-shadow: 0 0 2px #000;
}

h2 {
  align-self: center;
  justify-self: left;
  font-size: 1.8em;
  text-shadow: 0 0 2px #000;
}

.devicon-github-original {
  align-self: center;
}

.desc {
  display: none;
}

.my-name {
  display: none;
}

.logos {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  text-align: center;
  margin-top: 3vh;
}

i {
  font-size: 3.5em;
}

.profile-picture {
  display: none;
}

.profile-picture-name-under {
  width: 70vw;
  margin: 1.5em;
  border-radius: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 200'%3E%3Cpath d='M0 0 L400 0 L0 200 Z' fill='black'/%3E%3Cpath d='M400 0 L0 200 L400 200 Z' fill='lightblue'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

#project-image {
  display: flex;
  margin: 0 auto;
  width: 35vh;
  border-radius: 25px;
}

.my-name {
  display: none;
}

header p,
#card p {
  border-radius: 25px;
  color: aliceblue;
  margin: 1vw;
  padding: 1em;
}
.devicon-github-original-wordmark.colored,
.devicon-linkedin-plain.colored {
  background-color: transparent;
}

i.devicon-github-original {
  font-size: 29px;
}

.subheader {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto 1fr;
  margin: 0 10vw;
}

.subheader > p {
  grid-column: span 3;
  padding: 0;
}

.github-icon {
  display: flex;
  align-self: center;
}

#card {
  margin-bottom: 5vh;
}

del {
  color: aliceblue;
}

footer {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  background-color: #add8e6;
  border-radius: 25px;
}

.footer-container {
  max-width: 600px;
  margin: 0 auto;
}

.footer-container h1 {
  padding-top: 2vh !important;
}

.footer-container p,
.footer-container h1,
.footer-container > .footer-logos {
  color: #000;
  text-shadow: none;
  padding: 0 5vw;
}

.external-link {
  align-self: center;
}

.footer-container img {
  position: relative;
  text-align: center;
  max-width: inherit;
  width: 95.5vw;
  border-radius: 25px;
  margin: 3vh 0 0 0;
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1080px) {
  /* Header */

  header {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpolygon points='100,0 100,100 0,100 100,0' fill='%232AB7CA' transform='rotate(180, 50, 50)'%3E%3C/polygon%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0;
    width: 85vw;
    max-width: none;
    max-height: max-content;
    margin-top: 0;
    position: relative;
  }

  .profile-picture {
    border-radius: 25px;
    top: 5vh;
    height: 100%;
    display: block;
    width: auto;
    justify-content: left;
    max-width: 35vw;
    margin: 0 5vw 5vh 0;
    float: left;
  }

  .desc :not(.profile-picture) wa {
    text-shadow: 0 0 5px #000;
    font-size: 36px;
  }

  .profile-picture-name-under {
    display: none;
  }

  .my-name {
    position: relative;
    display: flex;
    top: 8vh;
    justify-content: center;
    font-size: 44px;
    text-shadow: 0 0 5px #000;
    background: transparent;
  }

  .desc {
    display: block;
    top: -5vh;
    justify-self: center;
    /* max-width: 62vw; */
    right: 0vw;
    font-size: 20px;
    overflow: hidden;
  }
  
  .desc-mob-desk {
    display: none;
  }

  .desc :not(.profile-picture) {
    font-size: 20px;
    line-height: 2.5px;
  }

  del {
    font-size: 20px;
  }

  .about-me {
    display: none;
  }

  .logos {
    margin-bottom: 2vh;
  }

  /* Main */

  main {
    max-width: 80vw;
    justify-content: center;
    display: flex;
    line-height: 1.8;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 3vw;
    row-gap: 3vh;
  }

  .my-work {
    grid-column: 1 / span 2;
    grid-row: 1;
    align-content: center;
    justify-self: left;
    margin-left: 1vw;
    font-size: 32px;
  }

  #card {
    justify-self: center;
    align-content: center;
    border-width: auto;
    border-radius: 25px;
    border: aliceblue solid 2px;
    column-gap: 5vh;
    margin-bottom: 0;
    font-size: 14px;
  }

  .subheader {
    margin: 0;
    justify-content: center;
  }

  .subheader p {
    font-size: 24px;
  }

  .subheader h2 {
    justify-content: left;
    padding-left: 2vw;
    font-size: 30px;
  }

  .external-link {
    margin-right: 3vw;
  }

  #project-image {
    max-height: 13vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1.5vh;
    height: 100%;
    width: auto;
  }

  /* footer */

  footer {
    margin-top: 10vh;
    max-width: 99vw;
    line-height: 1.8;
    margin-left: 0;
    margin-right: 0;
  }

  .footer-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    max-width: fit-content;
  }

  .footer-container p {
    font-size: 24px;
  }

  .footer-container img {
    max-width: fit-content;
    width: 37vw;
    margin-right: 2vw;
  }

  .profile-picture-alt {
    grid-column: 2;
    grid-row: 1 / span 6;
    align-self: center;
  }

  .contact-me {
    justify-self: left;
    font-weight: 600;
    grid-column: 1;
    grid-row: 1;
    font-size: 32px;
  }

  .footer-message {
    grid-column: 1;
    grid-row: 2;
  }

  .address {
    grid-column: 1;
    grid-row: 3;
  }

  .phone {
    grid-column: 1;
    grid-row: 4;
  }

  .email {
    grid-column: 1;
    grid-row: 5;
  }

  .footer-logos {
    grid-column: 1;
    grid-row: 6;
    justify-self: left;
    align-self: center;
  }
}

/* Desktop */
@media (min-width: 1081px) {
  /* Header */

  header {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    background-image: url("../images/background.svg");
    position: relative;
    max-width: 99vw;
    background-size: cover;
    min-height: 75vh;
    grid-auto-flow: column;
    margin-bottom: 3vh;
    line-height: 1.8;
  }

  .desc-mob-desk {
    grid-column: 2;
    grid-row: 2;
    align-content: center;
    font-size: 28px;
    line-height: 1.8;
  }

  del {
    font-size: 28px;
  }

  .about-me {
    font-size: 36px;
    margin-top: 15vh;
    grid-column: 2;
    grid-row: 1;
  }

  .profile-picture {
    display: none;
  }

  .profile-picture-name-under {
    display: flex;
    flex: 1;
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    width: auto;
    max-height: 75vh;
    margin-right: 5vw;
    justify-self: center;
    align-self: center;
  }

  .my-name {
    display: none;
  }

  .logos {
    grid-column: 1 / span 2;
    grid-row: 3;
    margin-bottom: 2vh;
  }

  /* Main */

  main {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    justify-content: center;
    line-height: 1.8;
    height: auto;
  }


  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-auto-flow: column;
    /* gap: 5vh; */
  }

  .my-work {
    padding-left: 3vw;
    grid-column: 1 / span 3;
    grid-row: 1;
    align-content: center;
    justify-self: left;
    font-size: 32px;
  }

  #card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    width:fit-content;
    border-radius: 25px;
    border: aliceblue solid 2px;
    margin-bottom: 0;
    font-size: 24px;
    margin: max(2vh) max(2vw) max(2vw) max(2vh);
  }

  .subheader {
    margin: 0;
    justify-content: center;
    /* column-gap: 1vw; */
  }

  .subheader p {
    font-size: 24px;
  }

  .subheader h2 {
    justify-content: left;
    padding-left: 2vw;
    font-size: 30px;
  }

  .external-link {
    margin-right: 3vw;
  }

  #project-image {
    max-height: max-content;
    max-width: max-content;
    /* padding-left: 1.5vw;
    padding-right: 1.5vw;*/
    border-radius: 25px;
    padding-top: 5vh;
    height: 30vh; 
    width: 25vw;
  }

  /* footer */

  footer {
    margin-top: 10vh;
    max-width: none;
    line-height: 1.8;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .footer-container {
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    justify-content: center;
    max-width: fit-content;
  }

  .footer-container p {
    font-size: 24px;
  }

  .footer-container img {
    max-width: 600px;
    margin-right: 10vw;
  }

  .profile-picture-alt {
    grid-column: 2;
    grid-row: 1 / span 6;
    align-self: center;
  }

  .contact-me {
    justify-self: left;
    font-weight: 600;
    grid-column: 1;
    grid-row: 1;
    font-size: 32px;
  }

  .footer-message {
    grid-column: 1;
    grid-row: 2;
  }

  .address {
    grid-column: 1;
    grid-row: 3;
  }

  .phone {
    grid-column: 1;
    grid-row: 4;
  }

  .email {
    grid-column: 1;
    grid-row: 5;
  }

  .footer-logos {
    grid-column: 1;
    grid-row: 6;
    justify-self: left;
    align-self: center;
    margin-bottom: 2vh;
  }

  .devicon-github-original-wordmark,
  .devicon-linkedin-plain {
    font-size: 64px;
  }
}
