/* default css */

* {
  /* background-color: black; */
  color: aliceblue;
  font-size: 14px;
  font-family: "Roboto";


}
header {
  max-width: 600px;
  margin: 0 auto;


    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 200'%3E%3Cpath d='M0 0 L400 0 L0 200 Z' fill='black'/%3E%3Cpath d='M400 0 L0 200 L400 200 Z' fill='lightblue'/%3E%3C/svg%3E");    background-repeat: no-repeat;
}

h1{
  text-align: center;
  font-size: 1.5em;
  text-shadow: 0 0 2px #000;
}

.logos {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 3vh;
  text-align: center;
}

i {
  font-size: 3.5em;
}

.floating-picture {
  position: relative;
  text-align: center;

}

.profile-picture {
  width: 35vh;
  margin: 1.5em;
  border-radius: 25px;
  /* padding: 1.5em */
}

.my-name {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  text-shadow: 0 0 2px #000;
  background: transparent;
}

p {
  background-color: aliceblue;
  color: #000;
  width: 80%;
  margin: 0 auto;
  border: solid black 1px;
  padding: 1em;
}